---

---
<footer class="container py-4 text-center">
  <p> script ing. Victor Eduardo Resendiz Villegas <a href="https://github.com/Vervyrvg/Vervyrvg.github.io" target="_blank" rel="noopener noreferrer">E
</a>.</p>
</footer>
