---
// components imports
import { Button } from "./ui/button";
import LinkedIn from "./icons/LinkedIn.astro";
import DownloadArrow from "./icons/DownloadArrow.astro";

// config import
import { ME } from '@/config.ts';

const resume = "/" + ME.contactInfo.resumeDoc;
const carta = "/" + ME.contactInfo.cartaDoc; // Asumiendo que existe esta propiedad
const { linkedin, email } = ME.contactInfo;
---

<div class="profile-action-buttons w-full flex gap-2">
    <!--  CV -->
    <Button
        data-cv={resume}
        id="cvBtn"
        size={'lg'}
        className="[&_svg]:size-8 px-4 md:px-8 h-14 cv-btn flex-1 text-n700 bg-primary-light dark:bg-primary-dark hover:bg-primary-hover-light dark:hover:bg-primary-hover-dark">
        Download CV
        <DownloadArrow width={24} height={24} />
    </Button>

    <!--  Carta de Presentación -->
    <Button
        data-carta={carta}
        id="cartaBtn"
        size={'lg'}
        className="[&_svg]:size-8 px-4 md:px-8 h-14 carta-btn flex-1 text-n700 bg-primary-light dark:bg-primary-dark hover:bg-primary-hover-light dark:hover:bg-primary-hover-dark">
        Carta presentación
        <DownloadArrow width={24} height={24} />
    </Button>
</div>

<script>
    // Currículum vitae
    const cvBtn = document.getElementById('cvBtn') as HTMLButtonElement;
    const cartaBtn = document.getElementById('cartaBtn') as HTMLButtonElement;
    
    if (cvBtn) {
        const resume = cvBtn.dataset.cv;
        cvBtn.addEventListener('click', () => {
            if (resume) {
                window.open(resume, '_blank');
            }
        });
    }
    
    // Carta Presentación
    if (cartaBtn) {
        const carta = cartaBtn.dataset.carta;
        cartaBtn.addEventListener('click', () => {
            if (carta) {
                window.open(carta, '_blank');
            }
        });
    }
</script>
